/*====================== Maneli ===========================*/
@font-face {
	font-family: "Maneli";
	font-style: normal;
	font-weight: normal;
	src: url("https://cdn.jsdelivr.net/gh/web-elite/cdn/fonts/maneli/Maneli.ttf") format("truetype");
}