@font-face {
	font-family: "Vazir";
	font-style: normal;
	font-weight: normal;
	src: url("https://cdn.jsdelivr.net/gh/web-elite/cdn/fonts/vazir/Vazir.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/web-elite/cdn/fonts/vazir/Vazir.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/web-elite/cdn/fonts/vazir/Vazir.ttf") format("truetype");
}

@font-face {
	font-family: "Vazir";
	font-style: normal;
	font-weight: bold;
	src: url("https://cdn.jsdelivr.net/gh/web-elite/cdn/fonts/vazir/Vazir-Bold.eot");
	src: url("https://cdn.jsdelivr.net/gh/web-elite/cdn/fonts/vazir/Vazir-Bold.eot?#iefix") format("embedded-opentype"), url("https://cdn.jsdelivr.net/gh/web-elite/cdn/fonts/vazir/Vazir-Bold.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/web-elite/cdn/fonts/vazir/Vazir-Bold.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/web-elite/cdn/fonts/vazir/Vazir-Bold.ttf") format("truetype");
}

@font-face {
	font-family: "Vazir";
	font-style: normal;
	font-weight: 300;
	src: url("https://cdn.jsdelivr.net/gh/web-elite/cdn/fonts/vazir/Vazir-Light.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/web-elite/cdn/fonts/vazir/Vazir-Light.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/web-elite/cdn/fonts/vazir/Vazir-Light.ttf") format("truetype");
}

@font-face {
	font-family: "Vazir";
	font-style: normal;
	font-weight: 500;
	src: url("https://cdn.jsdelivr.net/gh/web-elite/cdn/fonts/vazir/Vazir-Medium.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/web-elite/cdn/fonts/vazir/Vazir-Medium.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/web-elite/cdn/fonts/vazir/Vazir-Medium.ttf") format("truetype");
}

@font-face {
	font-family: "Vazir";
	font-style: normal;
	font-weight: 100;
	src: url("https://cdn.jsdelivr.net/gh/web-elite/cdn/fonts/vazir/Vazir-Thin.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/web-elite/cdn/fonts/vazir/Vazir-Thin.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/web-elite/cdn/fonts/vazir/Vazir-Thin.ttf") format("truetype");
}